@font-face {
    font-family: 'Maison Neue Light';
    src: url('font/maison-neue-light.ttf');
}

body {
    background-color: #fafafa;
    font-family: "Maison Neue Light", serif;
    min-width: 1215px;
}

#navbar {
    margin-top: 5em;
    height: 10em;
}

#logo {
    color: darkolivegreen;
}

#title {
    font-size: 2em;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    letter-spacing: 0.05em;
    margin-left: 2.5em;
}

.nav-link {
    font-size: 1.3em;
    color: #6c6d6f;
    letter-spacing: 0.05em;
    margin-right: 3em;
    float: right;
    text-decoration: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.nav-link:hover, .nav-link:link {
    color: #ddd;
    text-decoration: none;
}


#about {
    background: url(img/forest.jpg);
    background-size: cover;
    height:60em;
    padding-top: 4em;

}

.container {
    width: 64em;
    margin: 0 auto;
}

#about h2 {
    font: 400 6em/1em 'Playfair Display', sans-serif;
    color: #fff;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: .4em;
}

#about p {
    font: 400 1.3em/1.5em 'Quattrocento', sans-serif;
    color: #fff;
    width: 50%;
    margin: 0 auto;
    padding: 1.2em 0;
    border-bottom: 0.2em solid #fff;
    border-top: 0.2em solid #fff;
}

#projects {
    height: 55em;
    padding: 4em;
}

#projects h2, #contact h2 {
    color: #5e5e5e;
    text-transform: lowercase;
    margin-top: 0.5em;
    letter-spacing: 0.03em;
    font: 400 5em/1em 'Quattrocento', sans-serif;
    text-align: center;
    position: relative;
}

#projects h2 span, #contact h2 span {
    background-color: #fafafa;
    padding: 0 0.2em;
    position: relative;
    z-index: 1;
}

#projects h2:before {
    background: #ddd;
    content: "";
    display: block;
    height: 0.02em;
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
}

#project-grid {
    margin-top:5em;
}

#project-grid a {
    cursor: pointer;
}

.project-tiles {
    box-sizing: border-box;
    text-align: center;
    height: 10em;
    padding: 0;
    border: 0.05em solid #fafafa;
    overflow: hidden;
}

.show-text {
    font-family: 'Maison Neue Light', sans-serif;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50%, -50%);
}


#contact {
    padding-top: 4em;
    height: 50em;
}


#wrapper{
    position: relative;
}

#map_canvas {
    height: 63em;
    opacity: 0.7;
}

#over_map {
    display: table;
    position: absolute;
    width: 100%;
    height: 7em;
    z-index: 99;
    top: 0;
    background: #fff;
    opacity: 0.5;
}

#over_map h2{
    display: table-cell;
    vertical-align: middle;
    text-transform: capitalize;
    color: black;
    opacity: 1;
}

#over_map_form {
    position: absolute;
    top: 19em;
    height: 41em;
    width:33em;
    left: 50em;
    z-index: 99;
    padding: 1.5em 2em 2em 2em;
    background: black;
    border-radius: 1px;
    opacity: 0.6;
}

#over_map_info {
    position: absolute;
    top: 19em;
    height: 12em;
    width:33em;
    left: 0;
    z-index: 99;
    background: #fff;
    color: black;
   padding: 1.5em;
    opacity: 0.7;
}

#over_map_info h4 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 1em;
    font-weight: bold;
}

#over_map_form h3 {
    text-align: center;
    font: 400 2em/0.5em 'Fauna One', sans-serif;
    margin-bottom: 1.5em;
    color: #fff;
}

form label {
    display: block;
    font-family: 'Fauna One', Calibri, Arial, sans-serif;
    font-weight: 100;
    font-size: 1em;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 1px;
    cursor: pointer;
}

form label:not(:first-child){
    padding-top: 1.5em;
}

form input {
    font-family: 'Fauna One', Calibri, Arial, sans-serif;
    line-height: 1;
    font-size: 1.1em;
    padding: 5px 10px;
    color: #fff;
    display: block;
    width:100%;
    background: transparent;
    border-radius: 1px;
    border: 3px solid #fff;
}

form input:focus, form label:active + input, textarea:focus {
    outline: none;
    border: 3px solid #10689a;
}

form textarea {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    line-height: 1.5;
    font-size: 1em;
    margin-top: 10px;
    color: #fff;
    display: block;
    width:100%;
    background: transparent;
    border-radius: 1px;
    border: 3px solid #fff;
    resize: none;
}
.button {
    background: #10689a;
    border: none;
    color: #fff;
    width: auto;
    cursor: pointer;
    text-transform: uppercase;
    display: block;
    padding: 15px 30px;
    font-size: 1.1em;
    border-radius: 2px;
    letter-spacing: 1px;
    margin: 40px auto;
}

.button:hover {
    background: #1478b1;
}

.button:focus, .button:active + input {
    outline: none;
    border: none;
}